Package: com.yourcompany.mytweak
Name: mytweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: root
Author: root
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
